.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5em;
  font-family: Arial, sans-serif;
  background-color:rgb(240, 240, 240);
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 100;
  color: #000000;
} 

.emptyState {
  color: rgb(163, 163, 163);
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 1.5em 0 1em;
}